name: Resuable Docker Build and Push
on:
  workflow_call:
    #
    secrets:
      USERNAME:
        required: true
      PASSWORD:
        required: true
    #
    inputs:
      registry:
        required: false
        type: string
        default: docker.io
      runs-on:
        required: true
        type: string
      target:
        required: true
        type: string
      build_timestamp:
        required: true
        type: string
    #
    outputs:
      digest:
        value: ${{ jobs.build-and-push.outputs.digest }}


jobs:
  build-and-push:
    permissions:
      contents: read
      # packages: write # needs to push to GitHub Container Registry
    runs-on: ${{ inputs.runs-on }}
    outputs:
      digest: ${{ steps.print-digest.outputs.digest }}

    steps:
      - id: setup
        run: |
          ESCAPED_REF_NAME=$(echo '${{github.ref_name}}' | tr '/#' '-')
          echo "runs-on = ${{ inputs.runs-on }}"
          echo "target = ${{ inputs.target }}"
          echo "ESCAPED_REF_NAME = ${ESCAPED_REF_NAME}"
          echo ESCAPED_REF_NAME="${ESCAPED_REF_NAME}" >> $GITHUB_OUTPUT

      - name: Checkout repository
        uses: actions/checkout@v6.0.0

      - name: Log into registry ${{ inputs.registry }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Docker Buildx Bake
        env:
          BUILD_TIMESTAMP: ${{ inputs.build_timestamp }}
          ESCAPED_REF_NAME: ${{ steps.setup.outputs.ESCAPED_REF_NAME }}
        uses: docker/bake-action@v6.9.0
        id: before-bake
        with:
          push: false
          load: true
          files: docker-bake.hcl
          targets: ${{ inputs.target }}
          set: |
            *.args.CRON_BUILDTIME='${{ inputs.build_timestamp }}'
            *.cache-from=type=gha,scope=${{ env.ESCAPED_REF_NAME }}-${{ inputs.target }}
            *.cache-to=type=gha,mode=max,scope=${{ env.ESCAPED_REF_NAME }}-${{ inputs.target }}

      - name: Test
        id: test
        run: |
          set -x
          docker image inspect tetsuyainfra/openssh-server:trixie-${{ inputs.target }}-latest
          METADATA='${{ steps.before-bake.outputs.metadata }}'
          DIGEST=$(echo "$METADATA" | jq --raw-output '.${{ inputs.target }}["containerimage.digest"]')
          echo "Run tests here"
          IMAGE_NAME="tetsuyainfra/openssh-server:trixie-${{ inputs.target }}-latest" ./test.sh
          RETVAL=$?
          if [ $RETVAL -ne 0 ]; then
            echo "Tests failed"
            exit $RETVAL
          fi
          echo "Tests passed"

      - name: Push to registry( ${{ inputs.registry }} )
        id: bake
        if:  success() && github.event_name != 'pull_request' && (github.ref == 'refs/heads/main')
        uses: docker/bake-action@v6.9.0
        env:
          BUILD_TIMESTAMP: ${{ inputs.build_timestamp }}
          ESCAPED_REF_NAME: ${{ steps.setup.outputs.ESCAPED_REF_NAME }}
        with:
          push: true
          files: docker-bake.hcl
          targets: ${{ inputs.target }}
          set: |
            *.args.CRON_BUILDTIME='${{ inputs.build_timestamp }}'
            *.cache-from=type=gha,scope=${{ env.ESCAPED_REF_NAME }}-${{ inputs.target }}
            *.cache-to=type=gha,mode=max,scope=${{ env.ESCAPED_REF_NAME }}-${{ inputs.target }}

      - name: Print digest
        id: print-digest
        run: |
          METADATA='${{ steps.bake.outputs.metadata }}'

          echo "----- METADATA -----"
          echo "$METADATA" | jq '.'
          echo "--------------------"

          DIGEST=$(echo "$METADATA" | jq --raw-output '.${{ inputs.target }}["containerimage.digest"]')
          echo "----- DIGEST -----"
          echo "digest=${DIGEST}"
          echo "--------------------"
          echo "digest=${DIGEST}" >> $GITHUB_OUTPUT

          # DIGEST=$(echo "$METADATA" | jq '.${{ inputs.target }}["containerimage.descriptor"].digest') # こっちでも良いかも
          # pushしなかったらdigest=nullになる

